html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: url("../images/grass.png");
    color: #404040;
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
    background: url("../images/sky.gif");
    margin: -5% 0 0;
    box-shadow: inset 0px 0px 10px #0000002e;

    /* prefix this */
    filter: hue-rotate(-20deg) saturate(2000%);
    transform: skewY(3deg);

    /* for removal */
    transition: 0.5s ease-out;
}

h1 {
    font-weight: normal;
    z-index: 1;
    color: #fefdff;
    text-shadow: 2px 2px #0000002e;
    font-size: 4.5em;
    letter-spacing: -12px;
    word-spacing: -25px;
    text-transform: lowercase;
    margin-bottom: 12px;
}

h2 {
    font-size: 1.55em;
    text-transform: lowercase;
    margin: 20px 0;
    color: #fff;
    text-shadow: 2px 2px #0000002e;
}

h4 {
    font-size: 0.8em;
    text-transform: uppercase;
}

.actual-head {
    position: absolute;
    bottom: 35px;
    right: 20px;
    text-align: right;
}

section.dino-select {
    position: absolute;
    top: 20px;
    left: 20px;
}

.default-port img {
    width: 100%;

    /* prefix this */
    filter: saturate(0%);
}

.default-port {
    position: relative;
    float: left;
    border-radius: 8px;
    width: 115px;
    box-shadow: 0px 0px 2px #0000002e;
    margin-right: 20px;
    cursor: pointer;
}

.default-port:last-of-type {
    margin-right: 0;
}

.default-port span {
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    text-transform: lowercase;
}

/* dino colors */

#yellow {
    background: #fff479;
}

#orange {
    background: #ffb271;
}

#purple {
    background: #c0acf5;
}

#blue {
    background: #99aaff;
}

/* other sections */

.defense-area {
    position: absolute;
    top: 330px;
    left: 20px;
}

.defense-area #active-enemy {
    float: left;
}

.defense-area .default-port {
    margin-right: 20px;
}

.enemies {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

.enemies .default-port {
    float: right;
    margin-right: 0px !important;
    margin-left: 20px;
}

.enemies .default-port:last-of-type {
    margin-left: 0;
}

/* widget */

.widget {
    display: none;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    text-align: center;
    background: #ffffff52;
    padding: 10px 30px 30px 30px;
    animation-delay: 0.6s;
}

.widget .button {
    display: block;
    position: relative;
    text-transform: uppercase;
    background: #ff7979;
    padding: 25px 25px 20px 25px;
    box-shadow: 0px 6px #d66664;
    border-radius: 8px;
    cursor: pointer;
}

#combat-text {
    position: absolute;
    left: 0;
    bottom: -75px;
    font-size: 10px;
    text-transform: uppercase;
    width: 100%;
}

/* stat boxes */

.ready-stats {
    display: none;
    float: left;
    background: #ffffff52;
    padding: 5px 10px;
    margin-top: 20px;
    animation-delay: 0.6s;
}

.rs-label {
    float: left;
    font-size: 8px;
    line-height: 11px;
    margin-left: 5px;
    word-spacing: -5px;
}

.ready-stats .row {
    margin: 8px 0;
    height: 10px;
}

.health-bar {
    background: #f77;
    width: 100px;
    height: 100%;
    float: left;
}

.cattack-bar {
    width: 50px;
    height: 100%;
    float: left;
    background: #746bff;
}

.attack-bar {
    width: 10px;
    height: 100%;
    float: left;
    background: #fff478;
}

/* == animations == */
/* ================ */

.widget .button:hover {
    /* prefix this */
    filter: brightness(98%);
}

.widget .button:active {
    top: 2px;
    box-shadow: 0px 4px #d56663;

    /* prefix this */
    filter: brightness(98%);
}

/* dino colors */

#purple:hover {
    background: #c6b3f9;
}

#blue:hover {
    background: #a3b2ff;
}

#orange:hover {
    background: #ffc387;
}

#yellow:hover {
    background: #fff5a3;
}

/* select blink */
.opacityPulse-css {
    animation: opacityPulse 1.25s ease-out;
    animation-iteration-count: infinite; 
    opacity: 1;
}

@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@-webkit-keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}